.footerwrapper{
 position: relative;
 bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color:#001830;
  color: white;

}
.footer
{ 
  height: fit-content;
  width:90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.logodesc{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.desc{
  padding: 10px;
}
.logo{
height: 170px;
width: 170px;
  margin: 0 auto; 
  
}
.socialmedia{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.socialmediaimg{
  height: 25px;
  width: 25px;
  margin: 10px;   
  margin-top: 0;
}
.links{
  text-align: center;
  height: 100%;
  margin: 30px;
}

.otherlinks{
  background-color: #001830;
  text-align: center;
}
.ul{
  padding: 0;
  margin-top: 40px;
}
.contactus{
  margin-top: 40px;
  color: white;
}
.footerwrapper p{
  color: rgb(214, 212, 212);
}