/* .options{
   display: flex;
   flex-direction: row;
   width: 50%;
}
.header{
    margin-bottom: 0;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #8a2b06;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.logo{
    filter: invert(100%);
} */
.authcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .authbutton {
    background-color: #42A5F5;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .authbutton:hover {
    background-color: #1976D2;
  }
  .badge {
    background-color: #b94517;
    padding: 0.15rem 0.75rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }