.ImgList{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content:space-between;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    
    
}
.img{
    height: 20px;
    width: 20px;
    margin: 0 16px;


}
.a{
    text-decoration: none;
    color: rgb(234, 234, 234);
}